<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header_style.css">
    <link rel="stylesheet" type="text/css" href="../css/footer_style.css">
    <link rel="stylesheet" type="text/css" href="../css/sidebar_style.css">
    <link rel="stylesheet" type="text/css" href="../css/error_style.css">
    <link rel="stylesheet" type="text/css" href="../css/admin_style.css">
    <link rel="stylesheet" type="text/css" href="../css/notification_style.css">
    <link rel="stylesheet" href="../css/contac_style.css">
    <link rel="icon" href="https://i.imgur.com/UIhWZy5.png">
    <title>Mates Berazategui | contacto</title>
</head>
<body>
    
    <header class="header" id="header"></header>

    <section>
        <article class="contacto_info">
            <h2>Informacion de contacto</h2>

            <ul>
                <li><img src="../assets/img/phone-call.png" alt="" srcset="">+54 4275 2345</li>
                <li><img src="../assets/img/whatsapp.png" alt="" srcset="">+54 11 6923 4510</li>
                <li><img src="../assets/img/instagram.png" alt="" srcset="">@example</li>
                <li><img src="../assets/img/gps.png" alt="" srcset="">Av. Pres. Figueroa Alcorta 2250 , Buenos Aires</li>
            </ul>

            <h3>En donde estamos</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.5178719651115!2d-58.41757058476926!3d-34.5754089631031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca2e6b1205c7%3A0x6dd4ebf7203ad6ea!2sAv.%20Pres.%20Figueroa%20Alcorta%202250%2C%20C1425%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1568140205431!5m2!1sen!2sar" 
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </article>
    </section>

    <section>
        <h2>Envianos directamente un correo</h2>

        <form action="procesar.." method="post">

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="asunto">Asunto:</label>
            <input type="text" id="asunto" name="asunto" required>

            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>

            <button type="submit">Enviar</button>
        </form>

    </section>

    
    <footer class="footer" id="footer"></footer>
    
</body>
<script type="module" src="../js/container/contacto.js"></script>
</html>